
{% extends "cvguenih/base.html" %}
{% block content %}
<body>
<section class="gile fullscreen align-left"> 
    <div class="spotlight align-left">
        <div class="content align-left">
          <div class="Row">
            <a href="photo.html"><div class="gue"></div></a>
            <div class="ac">
              <p class="organizationtitle align-left">Muhamad Fauzi Ridwan</p> 
              <p class="organizationdesc align-left">Computer Science - 1906351070</p> 
              <p class="organizationdesc align-left">Universitas Indonesia</p> 
              <p class="organizationdesc align-left">evan1001t@mgail.com</p> 
            </div> 

          </div>
          <br>
          <p class="organizationdesc align-left">A learner who is constantly seeking for opportunities to grow and bring impacts to society</p> 

            <h2 class='boxed align-left'>Expertise</h2>
            <div class="expertise  align-left">
            <p>Hard Working</p>
            <p>Mobile Development</p>
            <p>Design</p>
            </div >
            <h2 class="boxed align-left">Organization</h2>
            <div class="expertise align-left">
              <p class="organizationtitle align-left">Baraya UI Sukabumi</p> 
              <p class="organizationdesc align-left">Oct 2019 - Present, Staf of Media</p> 
            </div>
            <div class="expertise">
              <p class="organizationtitle align-left">Ristek Fakultas Ilmu Komputer Universitas Indonesia</p> 
              <p class="organizationdesc align-left">Mar 2020 - Present, Junior Member of Mobile Development SIG</p> 
            </div> 
            <div class="project align-left"></div>
            <div></div>
        </div>
        <div class="content align-left">
          <div class="parent">
            <div class="poin align-left"></div>
            <p class="number">I</p>
            <p class="title align-left">Professional SKill</p>
          </div>
          <h2 class="item align-left">Flutter</h2>
          <h2 class="item align-left">Adobe Illustrator</h2>
          <h2 class="item align-left">Mobile Development</h2>
          
          <div class="parent">
            <div class="poin align-left"></div>
            <p class="number">II</p>
            <p class="title align-left">Educational Efficiency</p>
          </div>
          <div class="ad">
            <p class="organizationtitle align-left">Universitas Indonesia</p> 
            <p class="organizationdesc align-left">Bachelor's degree, Computer Science</p> 
            <p class="organizationdesc align-left">2019 - present</p> 
          </div> 
          <div class="parent">
            <div class="poin align-left"></div>
            <p class="number">III</p>
            <p class="title align-left">Achievement</p>
          </div>
          <p class="ad">License and Certification</p>
          <div class="ad">
            <p class="organizationtitle align-left">Flutter & Dart The Complete Guide - Certificate of Completion</p> 
            <p class="organizationdesc align-left">Udemy, Issued Jul 2020 - No Expiration Date</p> 
            <p class="organizationdesc align-left">Credential ID : UC-617ecf21-df84-4b46-9f1e-29a5a30f1835</p> 
          </div> 
          <div class="ad">
            <p class="organizationtitle align-left">Introduction to Flutter Development Using Dart - Certificate of Completion</p> 
            <p class="organizationdesc align-left">The App Brewery, Issued Apr 2020 - No Expiration Date</p> 
            <p class="organizationdesc align-left">Credential ID : cert_l299w8rz</p> 
          </div> 

          <p class="ad">Awards</p>
          <div class="ad">
            <p class="organizationtitle align-left">3rd Winner of Pesta Rakyat Fisika Science Project Competition</p> 
            <p class="organizationdesc align-left">2015 - Universitas Indonesia</p>  
          </div> 
          <div class="ad">
            <p class="organizationtitle align-left">3rd Winner of Junior Class Chess Competition</p> 
            <p class="organizationdesc align-left">2017 - Universitas Muhammadiyah Sukabumi</p>  
          </div> 

          <p class="ad">Project</p>
          <div class="ad">
            <p class="organizationtitle align-left">-IGuide</p> 
            <p class="organizationtitle align-left">-Calculazi</p> 
            <p class="organizationtitle align-left">-Iluni12.cs.ui.ac.id</p> 
            <p class="organizationtitle align-left">-UnduhAja</p> 
            <p class="organizationtitle align-left">-PetikIlmu</p>
          </div> 
          <a href="https://www.github.com/fauziridwan1709"><div class="Row align-left"> 
            <div class="github"></div>
            <p class="Column">Github</p> 
        </div> </a>
        <a href="https://www.linkedin.com/in/muhamad-fauzi-ridwan-199260172/">
          <div class="Row"> 
          <div class="linkedin"></div>
          <p class="Column">Linkedin</p> 
      </div></a>
           
          
          <ul class="contact">
              <a href="https://play.google.com/store/apps/details?id=com.siswamedia.webinar">
                 
              </a>
          </ul>
      </div>
    </div>
</section>

  

</body> 
{% endblock content %}