
{% extends "cvguenih/base.html" %}
{% block content %}
<body>
<section class="gile fullscreen align-left">  
</section> 
</footer> -->

<a id="myTopBtn" onclick="downFunction()" class="float-btn float-btn-right">
  <i class="fa fa-arrow-up float-icon"></i>
</a>

<a id="myDownBtn"  onclick="topFunction()" class="float-btn float-btn-left">
  <i class="fa fa-arrow-down float-icon"></i>
</a>

</body> 
{% endblock content %}